:root {
	--header-height: 50px;
	--footer-height: 100px;
  --sidebar-width: 150px;
	--content-spacer: 10px;
}

html, body {
	margin: auto 0;
	padding: 0;
	width: 100%;
	height: 100%;
	display: block;
	position: relative;
	background-color: #322F1D;
  font-size: 1em;
  font-family: 'Benne', serif;
  scroll-behavior: smooth;
	overflow: hidden;
}

#parent {
	height: 100%;
	width: 100%;
	background-color: #BADDDA;
  overflow-x: hidden;
	overflow-y: auto;
}

main {
  margin-top: var(--header-height);
	padding-left: var(--content-spacer);
  margin-left: var(--sidebar-width);
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
}

header {
  position: fixed;
	top: 0;
	height: var(--header-height);
	width: 100%;
  margin-left: var(--sidebar-width);
  padding-left: var(--content-spacer);
  border: #4A4737;
  border-width: 1px;
  border-style: dashed;
	background-color: #B0AB99;
	overflow: hidden;
  z-index: 5;
}

header a {
  text-decoration: none;
}

header li {
  flex-wrap: nowrap;
  list-style-type: none;
  padding-left: 25px;
  margin: 0;
}

.push_right {
  /* margin-left: calc(100vw - 500px); */
  position: absolute;
  right: calc(var(--sidebar-width) + var(--content-spacer) + var(--content-spacer));
}

footer {
	position: relative;
	bottom: 0;
  height: var(--footer-height);
	width: 100%;
  margin-left: var(--sidebar-width);
  padding-left: var(--content-spacer);
	background-color: #4A4737;
  color: #F9F3DB;
	overflow: hidden;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: var(--sidebar-width);
  border: #4A4737;
  border-width: 1px;
  border-style: dashed;
  background-color: #B0AB99;
  z-index: 10;
  overflow-y: auto;
}

.sidebar a {
  text-decoration: none;
}

#sidebar_logo {
  height: 100px; 
  margin-top: var(--content-spacer);
  font-family: 'Ballet', cursive;
  font-size: 2em;
  transition: all 1s ease;
}

.child_container {
	min-height: 100px;
	min-width: 400px;
	border-width: 1px;
	border-style: solid;
  border-radius: 5px;
	border-color: #000000;
	background-color: #F9F3DB;
  font-size: 1.1em;
  margin: 5px;
  padding-left: var(--content-spacer);
  filter: drop-shadow(3px 1px 3px #636161);
}

.flex_container {
	display: flex;
}

.flex_row {
	flex-direction: row;
	flex-wrap: wrap;
}

.flex_column {
	flex-direction: column;
	flex-wrap: wrap;
}

.flex_center {
	align-items: center;
	justify-content: center;
}

.flex_center_vertical {
  align-items: center;
}

.drop-shadow {
  /* for transparent images */
  filter: drop-shadow(3px 6px 9px #636161);
}

@media all and (max-width: 800px) {
  header {
      font-size: 1.2em;
      padding-left: var(--content-spacer);
      margin-left: 0px;
  }
  main {
    margin-left: 0;
  }
  footer {
    font-size: 1.2em;
    padding-left: var(--content-spacer);
    margin-left: 0px;
  }
  .sidebar {
    display: none;
  }
  .child_container {
    min-height: 50px;
  }
}
